<h1>Trips#index</h1>
<p>Find me in app/views/trips/indes.html.erb</p>

<% @trips.each do |trip| %>
  <%= link_to trip.name, trip_path(trip) %>
  <%= trip.start_date %>
  <%= trip.end_date %>

<% end %>
